
<div class="row">
  <div class="col-md-12">
    <p-table [columns]="cols" [value]="schedules" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
          <th>#</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-schedule>
        <tr>
          <td *ngFor="let col of cols">
            {{schedule[col.field]}}
          </td>
          <td>
            <button type="button" (click)="Accept(schedule)" class="btn btn-primary btn-success">Accept</button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
