<div class="row">
  <div class="col-md-12">
   <table class="table table-bordered">
     <tbody>
     <tr *ngFor="let item of users">
       <td>
         {{item.name}}
       </td>
       <td>
          <button type="button"  (click)="Invite(item.id)" class="btn btn-primary btn-success">
            Invite
          </button>
         
        </td>
     </tr>
      <tr *ngIf="users?.length == 0" class="notitems">
        <td colspan="2">
          No Users 
        </td>
      </tr>
     </tbody>
   </table>
  </div>

  </div>