<div class="row">
  <div class="col-md-12">
   <table class="table table-bordered">
     <tbody>
     <tr *ngFor="let item of schedules">
       <td>
         {{item.sender.name}}
       </td>
       <td>
          <button type="button" *ngIf="!item.isApporoved"  (click)="Update(item.id,true)" class="btn btn-primary btn-succuss">
            Approve
          </button>
          <button type="button" *ngIf="item.isApporoved"  (click)="Update(item.id,false)" class="btn btn-primary btn-danger">
            Cancel
          </button>
        </td>
     </tr>
      <tr *ngIf="schedules?.length == 0" class="notitems">
        <td colspan="2">
          No Invitations
        </td>
      </tr>
     </tbody>
   </table>
  </div>

  </div>